.btn{
    display: inline-block;
    border-radius: 3px;
    padding: 7px 12px;
    border: 1px solid #d5d5d5;

    &:hover{
        color: red;
    }
    &--stage-success{
        color: #4a993E;
        background-color: #569E3D linear-gradient(#79D858, #569E3D) repeat-x;
        border-color:#4a993E;
    }
    &--stage-danger{
        color: #900; border-color: #900;
    }
}